$bg-Color:#E3E7D3;
$primary-Color:white;
$secunday-Color:#25291C;

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;;
    background-color: $bg-Color;
}
main{
    margin-top: 20px;
}


h3{
    margin: 0px;
}


.card{

    font-size: 16px;
    padding: 0.62em;
    width: 70%;
    margin: auto;
    margin-bottom: 2em;

    display: flex;
    gap: 1.87em;

    border-radius: 0.62em;
    background-color: $primary-Color;

    &__img{
        width: 18.75em;
        border-radius: 0.62em;
    }

    &__data{
        font-size: 1em;
        position: relative;
    }

    &__title{
        margin-top: 0.5em;
        margin-bottom: 0.3em;
        font-size: 2em;
    }

    &__description{
        line-height: 1.56em;
        margin-bottom: 2em;
    }

    &__button{
        text-decoration: none;
        color: $primary-Color;
        background-color: $secunday-Color;
        border-radius: 0.37em;

        width: 7.5em;
        height: 2.87em;

        position: absolute;
        right: 0.93em;
        bottom: -1.87em;

        display: inline-flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (max-width: 810px){
    .card{
        flex-direction: column;
        gap: 0;
        font-size: 14px;
        
        &__img{
            width: 100%;
        }
    }
}