$body-background: url('./assets/images/bg.svg');
$header-background: url('./assets/images/lines.svg');
$main-font: 'Roboto', sans-serif;
$primary-color: wheat;
$secundary-color: aliceblue;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #352253;
    background-image: $body-background;
    font-family: $main-font;
    color: $primary-color
}


a {
    text-decoration: none;
    color: $secundary-color;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

h2,
h3 {
    margin: 0;
    font-weight: 500;
}

.wrap {
    margin: 1em auto;
    width: 90%;
}

.header {
    background-color: #4e327a;
    background-image: $header-background;

    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 1em;

    z-index: 10;

    &__icon-company {
        font-size: 3.5em;
    }

    &__group-main-nav {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        margin-left: 2em;
        margin-right: 2em;
    }

    &__icon-nav {
        display: none !important;
        font-size: 1.3em;
    }

}


.main-nav {
    font-size: 0.9em;

    &__list {
        gap: 1em;
    }
}

.group-main-search {
    position: relative;

    &__icon {
        font-size: 1.3em;
    }

    &__input {
        display: none;
    }
}

.banner {
    background-color: $secundary-color;
    height: 28em;

    &__info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1em;

        &--main {
            align-items: center;
        }
    }

    &__infodesc {
        display: flex;
        gap: 2em;
        overflow-y: auto;
    }

    &__title {
        font-size: 4em;
    }

    &__description {
        color: $secundary-color;
        line-height: 1.5em;
        min-height: 2em;
        overflow-y: auto;

        &--main {
            min-height: 0.5em;
            padding-left: 1em;
            border-left: 0.14em solid $primary-color;
        }
    }

    &--main {
        background: linear-gradient(#3522536c 0%, #4e327a77 100%), url('https://images.pexels.com/photos/3970330/pexels-photo-3970330.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
    }

    &--secundary {
        height: 18em;
        background: linear-gradient(#35225391 0%, #4e327aab 100%), url('https://images.pexels.com/photos/159400/television-camera-men-outdoors-ballgame-159400.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center top/cover;
    }

    &--secundary-2 {
        background: linear-gradient(#35225391 0%, #4e327aab 100%), url("https://images.pexels.com/photos/3970328/pexels-photo-3970328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center/cover;
    }
}


.button {
    background-color: #4e327a;
    background-image: url('./assets/images/lines.svg');
    border-radius: 0.3em;
    align-self: flex-end;

    &--main {
        background: linear-gradient(#4e327a77 0%, #4e327a77 100%), url('./assets/images/lines.svg');

        padding: 1em 7em;
    }

    &--banner {
        padding: 1em 5em;
    }

    &--new {
        padding: 0.5em 1em;
    }
}

.carrousel {

    display: flex;
    flex-direction: column;

    &__news-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
    }

    &__new {
        overflow: hidden;
        border-radius: 0.3em;
        background: url('./assets/images/lines.svg');
        background-color: #2e1e49;
    }

    &__new-info-container {
        padding: 1em;

        display: flex;
        flex-direction: column;
    }

    &__new-img {
        width: 100%;
        text-align: center;
    }
}

.social {
    font-size: 40px;
    text-align: center;

    &__item-container {
        margin-top: 0.4em;
        display: flex;
        gap: 1em;
        justify-content: center;
        color: $secundary-color;
    }
}

.footer {
    text-align: center;
    background-color: #4e327a;
    background-image: $header-background;

    &__group-lists {
        padding: 2em 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
        justify-items: center;
    }

    &__title {
        display: inline-block;
        font-weight: 900;
        font-size: 19px;
        margin-bottom: 0.4em;
    }

    &__list {
        flex-direction: column;
        gap: 0.2em;
        font-size: 0.9em;
        color: $secundary-color;
    }

    &__copy {
        background-color: #291b41;
        background-image: $header-background;
    }
}


@media (max-width: 896px) {

    .wrap {
        width: 98%;
    }

    .header {
        &__icon-company {
            flex-grow: 1;
            font-size: 3.5em;
            text-align: center;
        }

        &__group-main-nav {
            order: -1;
            flex-grow: 0;
            margin: 0;
            top: 0;
            left: 0;

            &--responsive {
                display: flex;
                flex-direction: column;
                position: absolute;
                gap: 2em;
                height: 100vh;
                background-color: #291b41;
                background-image: $body-background;
                padding: 1em;
                z-index: 20;
            }
        }

        &__icon-nav {
            display: block !important;
        }
    }

    .main-nav {
        display: none;

        &--responsive {
            display: block;
        }

        &--list {
            gap: 2em;
            flex-direction: column;
        }

    }


    .carrousel {

        &__news-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .footer {

        &__group-lists {
            grid-template-columns: repeat(2, 1fr);
        }
    }



}

@media (max-width: 586px) {

    body {
        font-size: 15px;
    }

    .header {
        font-size: 13px;
    }

    .carrousel {
        font-size: 14px;
    }

    .banner {
        font-size: 14px;

        &__infodesc {
            flex-direction: column;
            gap: 0.1em
        }

        &__description {

            &--main {
                border-left: none;
            }
        }
    }

    .button {

        &--main {
            align-self: stretch;
            text-align: center;
        }
    }

    .carrousel {
        &__news-container {
            grid-template-columns: 1fr;
        }
    }

}