$bg-header: #141414cc;
$bg-main: #141414;
$text-color: #AAA;

* {
}

body {
    position: relative;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $bg-main;
}

a {
    text-decoration: none;
}

.header {

    position: fixed;
    top: 0;
    width: 100%;
    background-color: $bg-header;
    z-index: 100;



    &__wrap {
        margin: auto;
        width: 90%;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 9em;
    }
}

.main {
    background-color: $bg-main;
}

.main-nav {

    &__list {
        display: flex;
        list-style: none;
        gap: 1.25em;
        padding: 0px;
    }

    &__img {
        display: none !important;
        color: $text-color;
        font-size: 2em;
    }

    &__button {
        color: $text-color;
    }
}

.port {

    font-size: 16px;

    min-height: 38.6em;
    margin-bottom: 1.2em;

    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url("https://raw.githubusercontent.com/falconmasters/p-gina-estilo-netflix/master/img/backdrop.jpg");
    background-position: top;
    background-size: cover;

    display: flex;
    align-items: end;

    &__info {
        margin-left: 4em;
        margin-bottom: 4.25em;
    }

    &__title {
        margin: 0;
        font-size: 3.12em;
        margin-bottom: 0.3em;
    }

    &__description {
        line-height: 1.40em;
        max-width: 50%;
        margin-bottom: 1.8em;
    }

    &__btn-container {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    &__btn {
        display: inline-flex;
        align-items: center;
        gap: 0.9em;
        padding: 0.93em 1.4em;

        font-size: 1.07em;
        color: white;
        background-color: rgba(0, 0, 0, .50);
        border-radius: 0.21em;

        &:hover {
            background-color: white;
            color: black;
        }
    }

}

.movies {
    width: 90%;
    margin: auto;
    margin-bottom: 2em;

    &__title {
        color: $text-color;
        font-size: 2em;
    }
}

.movies-carrousel {
    position: relative;

    &__btn-scroll {
        top: 0;
        position: absolute;
        height: 100%;
        width: 1em;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5em;
        color: white;
        cursor: pointer;

        &--right {
            background: linear-gradient(to right, rgb(0, 0, 0, .10) 0%, rgb(0, 0, 0,.85) 100%);
            right: 0;
        }

        &--left{
            background: linear-gradient(to left, rgb(0, 0, 0, .10) 0%, rgb(0, 0, 0,.85) 100%);
        }
    }

    &__group-movies {
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    &__img {
        display: inline-block;
        width: 13.02em;

    }
}

@media screen and (max-width: 782px) {

    .header {
        font-size: 14px;
    }

    .main-nav {
        &__list {
            display: none;
        }

        &__img {
            display: block !important;
        }
    }

    .port {
        font-size: 14px;

        &__description {
            max-width: 90%;
        }

        &__info {
            margin-left: 2em;
            margin-bottom: 3.25em;
        }

    }

    .movies{
        font-size: 14px;
    }
}

@media screen and (max-width:404px) {

    .header {
        font-size: 13px;
    }

    .port {
        font-size: 11px;
    }

    .movies{
        font-size: 11px;
    }

}